/* ==========================================================================
   End default Css
   ========================================================================== */
body {
color: #222;
font-family: Arial,Battambang;
font-size: 15px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section {
    width: 100%;
    float: left;
    padding: 0 0 10px;
    margin: 0 auto;
}
a,
a:active,
a:focus,
a:hover {
    outline: 0;
    text-decoration: none;
}
.pointer-events > a,
a[href=''] {
    pointer-events: none;
}
ul {
    margin-bottom: 0;
    padding: 0;
}
ul,
ul li { list-style-type: none; }
input,
textarea {
    font-family: "Gotham", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 14px;
    line-height: 20px;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: #333;
    margin: 5px auto;
    word-break: break-all !important;
}
h3, .h3 {
    font-size: 24px;
    line-height: 28px
}
h4, .h4 {
    font-size: 20px;
    line-height: 26px;
}
p {
    font-size: 16px;
    line-height: 24px;
    padding: 5px 0;
    word-break: break-all !important;
}

/* ==========================================================================
   End default Css
   ========================================================================== */



/* ==========================================================================
   Header blog
   ========================================================================== */
.header{
    width: 100%;
    height: 135px;
    float: left;
}
.header-top{
    width: 100%;
    height: 38px;
    background-color:#e0e0e0 ;
}
.header-top,
.header-bottom{
    -webkit-transition: top .3s;
    -moz-transition: top .3s;
    -ms-transition: top .3s;
    -o-transition: top .3s;
    transition: top .3s;
}
.minify .header-top{ top: -37px; }
.minify .header-bottom{ top: 0px; }

.header-top > li a { color: #727272; }
/* Top Menu */
.header-top .top-left {float: left;}

.header-top .top-left ul li {
    float: left;
    list-style: none;
    padding: 3% 30px 0 0;

}
.header-top .top-left a { color: #756b6b; }
.header-top .top-menu{ float: right; }
.header-top .top-menu ul{
    float: left;
    margin: 4px 0;
    word-spacing: -0.15cm
}
.header-top .top-menu ul.socialmedia{ margin-left: 30px; }

.header-top .top-menu ul li{
    list-style: none;
    float: left;
    height: 28px;
    padding: 0;
    margin: 0 0 0 5px;
}

.header-top .top-menu ul li.login{
    padding-left: 22px;
    background: url('../images/login.png') 0 4px no-repeat;
}

.header-top .top-menu ul li.login:after{
    content: "/";
    line-height: 26px;
    padding: 0 3px;
    font-size: 18px;
    color: #756b6b;
}
.header-top .top-menu ul li.login+li{ margin-left: 0; }

.header-top .top-menu ul:not(.socialmedia) li{ margin-left: 20px;  }

.header-top .top-menu ul li a{
    float: left;
    line-height: 26px;
    font-size: 12px;
    color: #756b6b;!important;
}

/*.header-top .top-menu ul.socialmedia li a{*/
    /*background: #224091;*/
    /*width: 26px;*/
    /*height: 26px;*/
/*}*/
.header-top .top-menu ul li a img{ margin: 0 0 0; }

/*.header-top .top-menu ul.socialmedia li,*/
/*.header-top .top-menu ul.socialmedia li a,*/
/*.header-top .top-menu ul.socialmedia li a img{*/
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*border-radius: 50%;*/
/*}*/

/* Header Bottom */
.header-bottom{
    width: 100%;
    float: left;
    top: 37px;
    border-top: 1px solid #464646;
    background: #e0e0e0;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    /*padding: -2px 0 0 0; !important;*/
}

.header-bottom .container {
    /*color: #186a27;*/
    /*height: 32px*/
}

.logo {
    float: left;
    margin-right: 31%
    /*height: 72px;*/
    /*padding: 0;*/
}

.logo img {
    max-width: 100%;
    margin: 5px 0;
    height: 80px;
    /*padding: 0 30px;*/
    /*height: 50px*/
}

.main-menu {
    float: left;
    height: 72px;
    padding:1%;
    margin-left: -15%;
}

.main-menu>ul>li {
    float: left;
    padding: 20px 60px 10px 0;
    list-style: none;
}
.main-menu>ul>li:hover {
    color: green;

}

.main-menu>ul>li>a {
    width: 100%;
    color: #66686A;
    /*height: 23px;*/
    /*float: left;*/
    /*padding-top: 10%;*/
}



/*=========================== Make it a marquee =============================*/
.toggle {
    display: block;
    margin: 2em auto;
}
.marquee-block { background-color: #E98003}
.marquee {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
    /*background-color: #ff6a21;*/
    /*margin-top: -6.6px;*/

}

.marquee:hover {
    animation-play-state: paused;
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}

/* Make it pretty */
.microsoft {
    padding-left: 1.5em;
    position: relative;
    font: 16px 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}

/* ::before was :before before ::before was ::before - kthx */
.microsoft:before, .microsoft::before {
    z-index: 2;
    content: '';
    position: absolute;
    top: -1em; left: -1em;
    width: .5em; height: .5em;
}

.microsoft:after, .microsoft::after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 2em; height: 2em;

}

 Style the links
.vanity {
    color: #333;
    text-align: center;
    font: .75em 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}

.vanity a, .microsoft a {
    color: white;
    transition: color .5s;
    text-decoration: none;
}

.vanity a:hover, .microsoft a:hover {
    color: #F65314;
}

/* ==========================================================================
   end   Header blog
   ========================================================================== */

/* Top Menu */
.header-top .top-menu{ float: right; }

.header-top .top-menu ul{
    float: left;
    margin: 4px 0;
}

.header-top .top-menu ul.socialmedia{ margin-left: 30px; }

.header-top .top-menu ul li{
    list-style: none;
    float: left;
    height: 28px;
    padding: 0;
    margin: 0 0 0 5px;
}

.header-top .top-menu ul li.login{
    padding-left: 22px;
    background: url('../images/login.png') 0 4px no-repeat;
}

.header-top .top-menu ul li.login:after{
    content: "/";
    line-height: 26px;
    padding: 0 3px;
    font-size: 18px;
    color: #fff;
}

.header-top .top-menu ul li.login+li{ margin-left: 0; }
.header-top .top-menu ul:not(.socialmedia) li{ margin-left: 20px; }

.header-top .top-menu ul li a{
    float: left;
    line-height: 26px;
    font-size: 12px;
    color: #756b6b;
}

/*.header-top .top-menu ul.socialmedia li a{*/
    /*!*background: #224091;*!*/
    /*width: 26px;*/
    /*height: 26px;*/
/*}*/
.socialmedia > li > a > img{
    height: 25px;
}

.header-top .top-menu ul li a img{ margin: 0 0 0; }
.header-top .top-menu ul.socialmedia li,
.header-top .top-menu ul.socialmedia li a,
.header-top .top-menu ul.socialmedia li a img{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}


/*---------------body-----------------------------------------------------------------------*/
/*banner-recomment*/
.recomment-banner img { float: left ; }
div > div.recomment-banner {
    position: relative;
    margin-top: -110px;
}

/*recomment porducts​*/
.recomment-porducts​-slide .slick-dots {bottom: -60px;}

/*all space gap */
.space-buttom {margin-bottom: 30px;}

/*advertisement*/
.ads {padding: 0!important;}
.section.adtisement.space-buttom {
    margin-top: 40px;
}
.banner .top{
    padding-bottom: 15px;
}
.banner .bottom{
    padding-top: 15px;
}


    /*MIXER PRODUCTS LIST*/
.glass-products-list .col-md-3 img{ height: 197px; width: 150px; }
.glass-products-list .col-md-11 { color:#5cb85c; text-align: center; margin: 2%; padding-top: 2%; }
.glass-products-list .col-md-11 b { color: #5cb85c;}


/*MIXER PRODUCTS LIST*/
.mixer-products-list .col-md-3 img{ height: 197px; width: 150px; }
.mixer-products-list .col-md-11 { color:#5cb85c; text-align: center; margin: 2%; padding-top: 2%; }
.mixer-products-list .col-md-11 b { color: #5cb85c;}


/*KSLM INVESTMENT*/

/*modify input */
.col-md-offset-4 { margin-bottom: 5%; margin-left: 38% }
.input-group input {
    font-size: 15px;
    line-height: 20;
    /*opacity: 0.6;*/
    /*filter: alpha(opacity=60);*/
    background-color: white;
    color: white;
    border-radius: 0;
    padding-top:3%
}
.btn{
    border-radius: 0;
}
/*LATEST NEWS & EVENTS*/
.article-padding > a > b { color: green;}
.date{  margin-top: 10px; margin-bottom: 10px; }


/*CORPORTE PARTNERS slide-block*/
.partners-slide {
    text-align: center;
}

div > section.regular {
    margin: 2% auto 3% auto; !important;
}

div > section.center {
    margin: 2% auto 3% auto; !important;
}

div > section.slider {
    width: 100%;
    /*margin: 100px auto;*/
}


/*subscriber-block*/
.subcriber { background-color: #757575 ; height: 140px; }
.subcriber .input-lg {height: 56px;}
.subcriber .btn { font-size: 17px; }
.subcriber-title{ padding: 3%; color: white;
}
.subcriber-title > ul > li:nth-child(1){ opacity: 0.6; font-size: 140% }
.subcriber-title > ul > li > h2{ color: white; font-weight: bold; }
.subcriber-input{ padding: 3.6% 20% 0 0;}

/*@media screen and (max-width: 991px) and (min-width: 768px) {*/
/*.subcriber h2{ font-size : x-large; }*/
/*}*/

/* ==========================================================================
End Home page
========================================================================== */

/* ==========================================================================
page new&event
========================================================================== */

.newsEvent > div > div > h1{
    color: white; margin-top:20%
}
.newsEvent-banner{
    background-image: url("../images/testing.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    position: relative;
    background-position: 0 120px ;

}

.newsEvent-item { padding-bottom: 40px; margin-top: 10px;  }
.newEvent-paddingLeft{ padding: 0 }

.newEvent-articlePadding { padding-top: 15px;}
.newEvent-articlePadding > a > b{ color: black}



/* ==========================================================================
page Promotion
========================================================================== */
.position-header{
    margin-bottom: 40px;
}
.position-header .banner img{
    width: 100%;
    position: relative;
    /*margin-top: -5px;*/
    margin-bottom: 10px;

}
.position-header .title-h-h{
    margin-top: -130px;
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 40px;
}
.promotion-banner{ padding-bottom: 40px; text-align: center}
.promotion-date{ padding:0 0 0 10px;}
.promotion-paddingtop {padding-top: 20px;}


/*// fb block*/

}
.f-b-product-wrapper .product{
    padding: 15px 0 0;
    height: 420px;
}

.f-b-product-wrapper .product h4{
    line-height: 1px;
}
.f-b-product-wrapper .product p{
    line-height: 15px;
}
.f-b-product-wrapper .product .name_code{
    padding-top: 40px;
}
.f-b-product-wrapper .product:hover .name_code{
    padding-top: 0;
    -webkit-transition: padding-tops; /* For Safari 3.1 to 6.0 */
    transition: padding-top;
    transition-duration: 0.2s;
}
.f-b-product-wrapper .product,
.f-b-product-wrapper .product:hover,
.f-b-product-wrapper .product .name_code,
.f-b-product-wrapper .product:hover .name_code{
    -webkit-transition: all .2s;
    transition: all .2s
}
.f-b-product-wrapper .product .view-more,
.f-b-product-wrapper .product .view-more:hover{
    -webkit-transition: all .30s;
    transition: all .30s
}
.f-b-product-wrapper .product .view-more{
    visibility: hidden;
    position: relative;
}
.f-b-product-wrapper .product:hover{
    box-shadow: 0px 0px 1px #000000;

}
.f-b-product-wrapper .product:hover .view-more{
    visibility: visible;
}
.f-b-product-wrapper .product .view-more a{
    background-color: #0AA046;
    color: white;
    padding: 8px 10px;
    border-radius: 1px;
}
.f-b-product-wrapper .product img{
    width: 100%;
}

.f-b-padding .product{
    margin-bottom: 20px;
}
/*---------------End-body-----------------------------------------------------------------------*/



/* ==========================================================================
   Footer blog
   ========================================================================== */

/*media screen*/

/*@media screen and (max-width: 991px) and (min-width: 768px) {*/
    /*.getInTouch {width: 14%;}*/
/*}*/

/*@media screen and (max-width: 991px) and (min-width: 768px) {*/
    /*.test {width: 30%;}*/
/*}*/


/*footer background-color*/
.footer{
    background: #e0e0e0;
    width: 100%;
    float: left;
}

/*margin on top & buttom of fotter*/
.footer .footer-top{ margin: 40px 0 40px 0; }

/*size of fotter-icon*/
.logo-footer-top > a > img{ width: 90px; }

/*general on li in footer*/
.footer .footer-top a{ color: black ; }
.footer .footer-top a:hover{ color: #DC1F30; text-decoration: none   }
.footer .footer-top h3{ margin: 0 0 15px; }
.footer .footer-top .logo-footer-top{ margin-bottom: 15px; }
.footer .footer-top .category ul li{
    list-style: none;
    padding: 0 0 0 30px;
    width: 100%;
    word-spacing: -0.20cm;
    /*margin: 0 0 10px;*/
    /*float: left;*/
    /*font-weight: 400;*/
}

.footer .footer-top .contact ul li{
    list-style: none;
    padding-left: 24px;
    margin-bottom: 10px;
}

/*social network modify*/
.footer .footer-top .contact{ margin-bottom: 40px; }

.footer .footer-top .gallery li{
    margin-bottom: 6px;
    float: left;
    width: 25%;
    list-style: none;
}


.MACHINES ul > li.glyphicon , .hotel-supply ul > li.glyphicon {
    background-image: url("../images/settings.png");
    background-repeat: no-repeat;
}

.MACHINES ul > li,.hotel-supply ul > li {  margin-bottom: 10% !important; }

.contact li.place{
    background-image: url("../images/placeholder.png");
    background-repeat: no-repeat;
}

.contact li.envelope{
    background-image: url("../images/envelope.png");
    background-repeat: no-repeat;
}

.contact li.phone{
    background-image: url("../images/smartphone.png");
    background-repeat: no-repeat;
}

/*!*get in touch*!*/
.getInTouch > ul > li{
    list-style: none;
    margin-bottom: 25px;
    /*padding-left: 20%;*/
    /*width:40px;*/
    /*margin-right: 20px;*/
}

.getInTouch > ul > li > a > img{
    width:40px;
    margin-right: 20px;
}

.getInTouch li.social_facebook{
    background-image: url("../images/facebook-fotter.png");
    background-repeat: no-repeat;
    background-size: 35px 35px;
    height: 45px;
}

.getInTouch li.socail_google{
    background-image: url("../images/google-plus-fotter.png");
    background-repeat: no-repeat;
    background-size: 35px 35px;
    height: 45px;

}
.getInTouch li.socail_twitter{
    background-image: url("../images/twitter-fotter.png");
    background-repeat: no-repeat;
    background-size: 35px 35px;
    height: 45px;
}

a.fotter_social{ margin-bottom: 10%; }

/* Footer Bottom */
.footer .footer-bottom{
    width: 100%;
    float: left;
    font-size: 13px;
    padding: 14px 0;
    border-top: 1px solid #464646;
    /*color: ;*/
}

.footer .footer-bottom img {
    height: 18px;
    margin-top: -11px;
}

.footer-bottom .pull-right{
    padding-right: 15%
}