/* Modal */
.btn-modal {
  padding: 13px 30px;
  background: white;
  color: #0B1847;
  border-radius: 60px;
  border: 2px solid #0B1847;
  cursor: pointer;
  font-size: 0.7em;
  display: block;
  text-transform: uppercase;
  transition: all 0.2s;
  text-align: center;
  width: 200px;
  position: relative;
  top: 150px;
  margin: 0 auto;
}

.content-button-close {
  padding: 13px 30px;
  background: white;
  color: #0B1847;
  border-radius: 60px;
  border: 2px solid #0B1847;
  cursor: pointer;
  font-size: 0.7em;
  display: block;
  text-transform: uppercase;
  transition: all 0.2s;
  text-align: center;
  width: 200px;
  margin: 60px auto 0 auto;
}

.btn-modal:hover,
.content-button-close:hover {
  background: #0B1847;
  color: white;
}

.closes {
	background: transparent none repeat scroll 0 0;
	border: 0 none;
	border-radius: 50px;
	color: #000;
	cursor: pointer;
	font-size: 16px;
	font-weight: 900;
	height: 30px;
	position: absolute;
	right: 2px;
	top: 0;
	width: 30px;
}

.maskload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9998;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}

.elegant-modal {
    background-color: #fff;
    border-radius: 5px;
    height: auto;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    padding-top: 15px;
    position: fixed;
    right: 0;
    text-align: left;
    top: 27%;
    transform: translateY(-90px);
    transition: all 0.5s ease-out 0s;
    visibility: hidden;
    width: 650px;
    z-index: 9999;
	padding: 25px;
	
  -webkit-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
}

.active {
  visibility: visible;
  opacity: 1;
  transition: all .2s;
}

.active + .elegant-modal {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.elegant-modal h1.title-modal {
  margin: 40px 0 20px 0;
  padding: 0 15px;
}

.elegant-modal hr.line-modal {
  border: 1px solid #F2F2F2;
}

.elegant-modal .paragraph-modal p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 0 30px;
	text-align: left;
}
.elegant-modal .paragraph-modal img{width: 100%}
.elegant-modal .paragraph-modal p:lang(km){ font-size: 15px; }

@media screen and (min-width: 768px) and (max-width: 1500px){ 
	.elegant-modal{top: 15%;}
}