.about-us li{
	list-style: none;
	float: left;
	margin-bottom: 10px;
}
.about-us h3{
	font-size: 28px;
}
.about-us li h4{ color: #224091; }
.about-us blockquote {
	margin: 35px 0 !important;
	padding: 0 44px 0 35px !important;
	position:relative;
	border-left: none !important;
	text-align: center;
}
.about-us blockquote:before{
	color: #888;
	content: "\201C";
	font-size: 150px;
	position: absolute;
	left: 0;
	top: 35px;
	line-height: 0;
}
.about-us blockquote:after{
	color: #888;
	content: "\201D";
	font-size: 150px;
	position:absolute;
	right: 0;
	bottom: -142px;
}
.about-us blockquote p{ 
	margin: 0 !important;
	font-size: 16px;
	color: #224091;
}
.about-us .image-border{
	padding: 0;
	margin: 34px 0 15px 20px;
	border: solid #224091 2px;
}
.about-us .image-border img{
	margin: -20px 0px 20px -20px;
}