.directory .find{ padding: 60px; }
.directory .find h3{
	margin: 0 0 30px;
	font-size: 32px;
}
.directory .find form{ position: relative; }
.directory .find input[type="text"]{
	border-radius: 0;
	height: 44px;
	width: calc(100% - 100px);
	border: solid rgba(34,64,145,.6) 1px;
}
.directory .find input[type="submit"]{
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	background: #224091;
	width: 100px;
	height: 44px;
	border: none;
}
.directory .banner{
	margin-bottom: 390px
}
.directory .banner:before{
    bottom: -390px;
    width: 100%;
    height:  390px;
    background-color: fff;
	content: '';
    position: absolute
}
.directory .categories{
	bottom: -330px;
	left: 0;
    right: 0;
	position: absolute
}
.directory .select input[type="text"]{ height: 44px; border: none;}
.directory .row.pin{ margin: 0 -20px !important }
.directory .pin{ padding: 0 10px !important }
.directory .pin .image{
	width: 100%;
	float: left;
	background: #fff;
	text-align: center;
	padding: 15px 20px;
}
.directory .pin .mask-address{
	background-color: #ECEBEB;
    float: left;
    padding: 15px;
    width: 100%;
	min-height: 150px;
}
.directory .pin .mask-address h5{
	color: #224091;
	font-size: 16px;
	font-weight: 600;
	margin: 0 0 15px;
	position: static;
	text-align: left;
}
.directory .pin .mask-address p{
	background: rgba(0, 0, 0, 0) url("../images/address-black.png") no-repeat scroll -2px 2px / 15px 15px;
    color: #757575;
    padding-left: 15px
}
.directory .categories .col-sm-12{ padding-top: 20px; }
.directory .categories .col-sm-12 .btm{
	float: none;
	padding: 10px 50px;
}

/* List */
.directory-list .filter-wrapper{
	padding-right: 0;
	padding-left: 10px;
	margin-bottom: 15px;
}
.directory-list .filter{
	width: 100%;
	float: left;
	background: #f9f9f9;
	padding: 10px;
}
.directory-list .filter .col-sm-12{
	background: #ECEBEB;
	width: 100%;
	float: left;
	padding: 15px 15px 0;
}
.directory-list .filter .col-sm-12 .form-control{
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0; 
}
label{ width: 100% !important }
.directory-list .filter .col-sm-12 .layout span + span{ margin: 0 0 0 5%; }
.directory-list .filter .col-sm-12 .layout span{
	width: 45%;
	height: 34px;
	cursor: pointer;
	background: pink url('http://via.placeholder.com/29x34') 0 0 no-repeat;
	float: left;
	margin: 0 5% 0 0;
}

.directory-list .item-wrapper{
	padding-right: 0;
	padding-left: 10px;
	margin-bottom: 15px;
}
.directory-list .item{
	width: 100%;
	float: left;
	background: #f9f9f9;
	padding: 10px 10px 0 0;
}
.directory-list .item .col-sm-4{ padding: 0 0 10px 10px; }
.directory-list .item .col-sm-4 .item-detail{ padding: 10px; background: #fff; float: left}
.directory-list .item .col-sm-4 .item-detail ul{ margin-bottom: 15px }
.directory-list .item .col-sm-4 h3 a{ color: #1e439b; }
.directory-list .item .col-sm-4 h3{ font-size: 20px; margin: 15px 0 10px }
.directory-list .item .col-sm-4 li a{ color: #333; }
.directory-list .item .col-sm-4 li.phone{ background: url(../images/phone.png) 0 0 no-repeat; }
.directory-list .item .col-sm-4 li.bag{ background: url("../images/black-bag.png") no-repeat scroll 0px 3px / 14px 14px }
.directory-list .item .col-sm-4 li.global{ background: url(../images/global.png) 0 0 no-repeat; }
.directory-list .item .col-sm-4 li{ 
	list-style: none;
	padding-left: 24px;
	margin-bottom: 5px;
}
.directory-list .item .item-detail-button{ float:left; width:100% }
.directory-list .item .item-detail-button a.btn {
	border-radius: 0;
    float: left;
    font-size: 10.5px;
    line-height: 36px;
    min-height: 36px;
    padding: 0 10px 0 30px;
    width: 48%;
}
.directory-list .item .item-detail-button .btn.btn-website{
	background: #1e439b url("../images/browser.png") no-repeat scroll 5px center;
	color: #fff;
	margin-right: 2% !important;
}
.directory-list .item .item-detail-button .btn.btn-favorite{
	background: #ecebeb url(../images/star.png) no-repeat scroll 5px center;
	color: #333;
	margin-left: 2% !important
}
.directory-list .item .item-detail-company{
	float: left;
    margin-top: 20px;
    text-align: center;
    width: 100%
}
.directory-list .item .item-detail-company li{
	display: inline-block;
    float: none;
    margin: 0 1px;
    padding: 0;
    width: auto
	
}
@media (max-width: 1200px){
	.directory-list .item .item-detail-button a.btn{
		width: 100%;
	}
	.directory-list .item .item-detail-button .btn.btn-favorite,
	.directory-list .item .item-detail-button .btn.btn-website{ margin: 0 0 10px 0 !important }
}


.directory-search{
	width: 600px;
	padding: 30px;
	margin: 10px 0 0;
	background: rgba(30,67,155,0.5)
}
.directory-search h3{
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 10px; 
}
.directory-search-box form{ position: relative; }
.directory-search > span{	color: #fff; cursor: pointer; }
.directory-search .bs-caret{ display: none; }
.directory-search .select .bootstrap-select .dropdown-toggle{ height: 44px; border: none; }
.directory-search .directory-search-box{ width: 100%; margin: 15px 0; background: #fff; height: 44px; }
.directory-search .select input[type="submit"]{ 
	margin-top: 0; 
	width: 54px; 
	height: 44px;
	background: #fff url(../images/search.png) center no-repeat;
	border: none;
	position: absolute;
	z-index: 5;
	right: 0;
	top: 0;
}

/* Detail */
.directory-detail .map-wrapper{
	padding-right: 0;
	padding-left: 10px;
	margin-bottom: 15px;
}
.directory-detail .item-detail-button{
	min-height: 38px;
	margin: 70px 0 0
}
.directory-detail .item-detail-button a.btn {
	border-radius: 0;
    float: left;
    font-size: 10.5px;
    line-height: 36px;
    min-height: 36px;
    padding: 0 10px 0 30px;
    width: 48%;
}
.directory-detail .logo-wrapper .logo{
    float: left;
    width: 100%;
}
.directory-detail .logo-wrapper .logo .item{
	padding: 0
}
.directory-detail .item-detail-button .btn.btn-website{
	background: #1e439b url("../images/browser.png") no-repeat scroll 5px center;
	color: #fff;
	float: right;
}
.directory-detail .item-detail-button .btn.btn-favorite{
	background: #ecebeb url(../images/star.png) no-repeat scroll 5px center;
	color: #333;
	margin-left: 2% !important
}
.directory-detail .contact-wrapper .contact h5 {
    color: #224091;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 30px;
    text-align: left
}
.directory-detail .contact-wrapper .contact table{
	width: 100%;
	float: left;
	border-top: 1px solid #ccc;
	margin-bottom: 40px
}
.directory-detail .contact-wrapper .contact table tr td{
	border-bottom: 1px solid #ccc;
    line-height: 60px;
	min-height: 1
}
.directory-detail .contact-wrapper .contact table tr td:first-child{
    font-weight: 600;
    padding: 0 15px;
    width: 180px;
}
.directory-detail .contact-description h1,
.directory-detail .contact-description h2,
.directory-detail .contact-description h3,
.directory-detail .contact-description h4,
.directory-detail .contact-description h5,
.directory-detail .contact-description h6{
	font-size: 18px;
}
.directory-detail .contact-description ul,
.directory-detail .contact-description ol{
	margin-left: 15px;	
}
.directory-detail .map{
	background: #e5e3df;
	width: 100%; 
	height: 300px; 
	float: left;
}