.contact-us .map{
	background: #e5e3df;
	width: 100%; 
	height: 500px; 
	float: left;
}
.contact-us h1,
.contact-us h3{
	font-size: 36px;
	margin-bottom: 30px;
}
.contact-us .information-contact li{
	list-style: none;
	padding-left: 30px;
	margin-bottom: 10px;
	background: url(http://via.placeholder.com/20x20/CCCCCC/CCCCCC) 0 0 no-repeat;
}
.contact-us .information-contact li.phone{
	background: url(../images/phone.png) 0 0 no-repeat;
}
.contact-us .information-contact li.mail{
	background: url(../images/mail.png) 0 0 no-repeat;
}
.contact-us .information-contact li.address{
	background: url(../images/address-black.png) 0 0 no-repeat;
}