/* Top Three */
.top-three .col-sm-7{ overflow: hidden; }
.top-three .col-sm-5{
	overflow: hidden;
	margin-bottom: 15px;
	padding-left: 0;
}

/* Job & Project Anouncement */
.job-anouncement .col-sm-5 ul{ margin-bottom: 44px; float: left; }
.job-anouncement .col-sm-5 ul > li{
	width: 100%;
	float: left;
	list-style: none;
	padding-left: 30px;
	padding-bottom: 20px;
	margin-top: 20px;
	border-bottom: dashed #bbb 1px;
	background: url(../images/list.jpg) 0 5px no-repeat;
}
.job-anouncement .col-sm-5 ul > li > a{
	width: 100%;
	float: left;
	font-size: 18px;
	color: #224091;
}
.job-anouncement .col-sm-5 ul > li > a,
.job-anouncement .col-sm-5 ul > li > a:hover{
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	-ms-transition: color .5s;
	-o-transition: color .5s;
	transition: color .5s;
}
.job-anouncement span{
	float: left;
	font-size: 12px;
	color: #555;
	margin-top: 10px;
	margin-right: 15px;
	padding-left: 18px;
	background: url(../images/check.png) 0 2px no-repeat;
}
.job-anouncement span.published{ 
	width: auto;
	background: url(../images/calendar.png) 0 -1px no-repeat;
}

/* Project */
.projects{
	width: 100%;
	float: left;
	height: 400px;
	margin-top: 20px;
	overflow: hidden;
}
.projects .description{
	position: absolute;
	left: 30px;
	right: 30px;
	bottom: 30px;
	color: #fff;
}
.projects .description a{ color: #fff !important; }
.projects .description a:hover{ color: #dc1f30 !important; }
.projects .description h4{ font-size: 24px; }


/* Insignt */
.insight{
	width: 100%;
	float: left;
}
.insight .col-sm-6{ margin-top: 15px; }
.insight .description{
	width: 100%;
	float: left;
	padding: 5px 15px 20px;
	background: rgb(59,87,139,0.1);
}
.insight .description a{ color: #224091; }
.insight .description a:hover{ color: #dc1f30; }
.insight span{
	float: left;
	font-size: 12px;
	color: #555;
	margin-top: 10px;
	padding-left: 20px;
	background: url(../images/calendar.png) 0 -1px no-repeat;
}
.insight span + span{ background: none; padding-left: 5px; }
.insight .col-sm-6:hover h5{ margin: -15px 0 0 !important; }
.insight .col-sm-6:hover img{ transform: scale(1.1) !important; }
.insight .description a,
.insight .description a:hover{
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	-ms-transition: color .5s;
	-o-transition: color .5s;
	transition: color .5s;
}


/* Directory */
.directory{
	width: 100%;
	float: left;
	background-position: center;
	background-size: cover;
	color: #fff;
	padding: 138px 0;
	margin: 15px 0 0;
}
.directory h4{ font-size: 32px; }
.directory a{ border-radius: 0; border: 0; }
.directory .slick-dots{
	right: auto;
	width: 100% !important;
	height: 20px;
	list-style: none;
	text-align: center;
}
.directory .slick-dots li{ display: inline; float: none; }
.directory .slick-dots li button{ height: 20px !important; width: 20px !important; }
.directory .btm{
	left: 50%;
	position: relative;
	margin-left: -100px;
}



/* News & Events */
.newsevent .description{
	width: 100%;
	min-height: 170px;
	float: left;
	padding: 5px 15px 20px;
	background: rgb(59,87,139,0.1);
}
.newsevent .description h4{ min-height: 52px }
.newsevent .description h4:lang(en){ min-height: 40px }
.newsevent .description a{ color: #224091; }
.newsevent .description a:lang(km){ line-height: 26px; }
.newsevent .description a:hover{ color: #dc1f30; }
.newsevent .col-sm-4:hover img{ transform: scale(1.1) !important; }
.newsevent span{
	float: left;
	font-size: 12px;
	color: #555;
	margin-top: 10px;
	padding-left: 20px;
	background: url(../images/calendar.png) 0 -1px no-repeat;
}
.newsevent span + span{ background: none; padding-left: 5px; }
.newsevent .description a,
.newsevent .description a:hover{
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	-ms-transition: color .5s;
	-o-transition: color .5s;
	transition: color .5s;
}



/* Register */
.register{
	background: #283E76;
	color: #fff;
	border-top: solid 40px #fff;
	position: relative;
	padding: 0px !important;
}
.register .mask{
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 0;
	position: absolute;
	background-color: rgba(59,87,139,0.9); 
}
.register .container{ z-index: 1; position: relative; }
.register .col-sm-8{ height: 400px; position: relative; }
.register .desc-image-person{
	position: absolute; 
	top: 50%;
	margin-top: -15px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.register .desc-image-person p{ margin-bottom: 40px; }
.register .image-person{
	margin-top: -40px;
	text-align: right;
}
.register .btn-white{ background: #fff; color: #333; }
.register .btn-white:hover{ background: #DC1F30; color: #fff; }
.register h3{
    font-weight: bold;
    font-size: 40px;
    margin: 10px 0px;
}
.register h4{ 
	font-size: 30px;
	font-weight: 400;
}


/* Strategy Partner */
.partner{ margin-top: 10px; }
.partner .slick-track{ min-width: 100% !important; line-height: 0; }
.partner .slick-slide{
	float: none;
	text-align: center;
	display: inline-block !important;
}
.partner .slick-slide img{ margin: 0 auto; }
.partner .slick-next,
.partner .slick-prev {
    border: none;
   	width: 40px;
	height: 80px;
    z-index: 1;
	top: 50%;
	margin: -40px 0 0;
	position: absolute;
    color: transparent;
    cursor: pointer !important;
	opacity: 0.5; 
	background-color: transparent;
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
}
.partner .slick-next:hover,
.partner .slick-prev:hover{ opacity: 1 }
.partner .slick-next,
.partner .slick-next:hover{ 
	right: -50px;
	background-position: right;
}
.partner .slick-prev,
.partner .slick-prev:hover{ 
	left: -50px;
	background-position: left; 
}
.partner .slick-disabled{ cursor: default; }
.partner .slick-next,
.partner .slick-prev,
.partner .slick-next:hover,
.partner .slick-prev:hover{
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;	
}
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1200px){
	.top-three .col-sm-7{ padding-right: 12px }
	.top-three .col-sm-5{ margin-bottom: 13px }
}
@media only screen 
and (min-device-width : 768px)
and (max-device-width : 992px){
	.partner .slick-next,
	.partner .slick-prev { display: none !important; }
	.top-three .col-sm-7{ padding-right: 10px }
	.top-three .col-sm-5{ margin-bottom: 10px }
	
	.newsevent .description h4:lang(km){ font-size: 14px }
	.newsevent .description p:lang(km){ font-size: 13px }
}