.regulation-search{
	width: 600px;
	padding: 30px;
	margin: 10px 0 0;
	background: rgba(30,67,155,0.5);
}
.regulation-search h3{
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 10px; 
}
.regulation-search-box form{ position: relative; }
.regulation-search > span{	color: #fff; cursor: pointer; }
.regulation-search .bs-caret{ display: none; }
.regulation-search .select .bootstrap-select .dropdown-toggle{ height: 44px; border: none; }
.regulation-search .regulation-search-box{ width: 100%; margin: 15px 0; background: #fff; height: 44px; }
.regulation-search .select input[type="submit"]{ 
	margin-top: 0; 
	width: 54px; 
	height: 44px;
	background: #fff url(../images/search.png) center no-repeat;
	border: none;
	position: absolute;
	z-index: 5;
	right: 0;
	top: 0;
}
.regulation .find{ padding: 60px; }
.regulation .find h3{
	margin: 0 0 30px;
	font-size: 32px;
}
.regulation .find form{ position: relative; }
.regulation .find input[type="text"]{
	border-radius: 0;
	height: 44px;
	width: calc(100% - 100px);
	border: solid rgba(34,64,145,.6) 1px;
}
.regulation .find input[type="submit"]{
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	background: #224091;
	width: 100px;
	height: 44px;
	border: none;
}
.regulation .pin{ margin-top: -100px; position: relative; }
.regulation .pin .mask-wrapper{ width: 100%; height: 220px; }
.regulation .pin:nth-child(1) .mask-wrapper .mask{ background-color: #004a87; }
.regulation .pin:nth-child(2) .mask-wrapper .mask{ background-color: #02569c; }
.regulation .pin:nth-child(3) .mask-wrapper .mask{ background-color: #0168b3; }
.regulation .pin a{ width: 100%; height: 100%; position: absolute; left: 0; }
.regulation .pin h5:lang(km){ line-height: 32px; font-size: 20px; }

/* list sme policy & frameworks */
.regulation .pdf-box{
	display: inline-block;
	float: none;
	width: 33%;
	vertical-align: top
}
.regulation .pdf-box .download-pdf{
	background: #eee none repeat scroll 0 0;
    min-height: 270px;
    padding: 20px 30px;
	text-align: left;
	
}
.regulation .pdf-box .download-pdf h4:lang(km){ min-height: 56px }
/* list sme license mapping */
.regulation .list .iterm{ padding: 0 0 10px 10px; }
.regulation .list .iterm h5{ font-size: 20px; }
.regulation .list .iterm h5:lang(km) { line-height: 32px }
.regulation .list a{ color: #1e439b; }
.regulation .list a:hover{ color: #DC1F30; }
.regulation .list .row .text-center{ margin-bottom: 40px }
.regulation .list .row .text-center span{
	margin-top: 10px;
	width: 100%;
	float: left;
	min-height: 50px
}
.regulation .list .row .text-center span:lang(km){
    line-height: 26px;
	min-height: 80px
}
.regulation .list .row .col-sm-2:hover img{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);	
}
.regulation .list a,
.regulation .list a:hover,
.regulation .list .row .col-sm-2 img,
.regulation .list .row .col-sm-2:hover img{
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

/* detail  */
.regulation .detail-warpper .dashed{
	border-bottom: dashed #8D9092 5px; 
	margin: 50px auto; 
	width: calc(100% - 100px)
}
.regulation .detail-warpper h3,
.regulation .detail-warpper h4{
	font-size: 18px;
	width: 100%;
	float: left;
	margin-bottom: 5px;
	color: #0082D2;
}
.regulation .detail-warpper h3{ 
	text-align: center;
	margin-bottom: 15px;
	margin-top: 0px;
	color: #DC1F30;
}
.regulation .detail-warpper h3:lang(km){
	line-height: 24px;
}
.regulation .detail-warpper h3 span{
	width: 100%;
	float: left;
	font-size: 13px;
	color: #333;
	text-align: center;
}
.regulation .detail-warpper .col-sm-12:nth-child(2):not(.normal) h4{ color: #0082D2; }
.regulation .detail-warpper .col-sm-12:nth-child(3):not(.normal) h4{ color: #00AAE1; }
.regulation .detail-warpper .col-sm-12:nth-child(4):not(.normal) h4{ color: #00D7E1; }
.regulation .detail-warpper .col-sm-12:nth-child(5):not(.normal) h4{ color: #00D2AA; }
.regulation .detail-warpper .download li{
	list-style: none;
	margin: 50px 10px 0 0;
	float: left;
}
.regulation .detail-warpper .download li a{
	background-image: url(../images/download.png);
	background-repeat: no-repeat;
	background-position: 140px center;
	padding-right: 30px;
}
.regulation .detail-warpper .faqs{
	border-top: 1px solid #ccc; 
	margin: 50px auto 0;
	width: calc(100% - 550px); 
	padding-top: 30px; 
	text-align: center;
}
.regulation .detail-warpper .faqs-panel h4.panel-title{ float: none !important; }
.regulation .detail-warpper .faqs h3{
	font-weight: 600;
	margin-bottom: 15px
}
.regulation .detail-warpper #accordion .panel-heading { padding: 25px 0;}
.regulation .detail-warpper #accordion .panel-title > a {
	display: block;
	padding: 0.4em 0.6em;
    outline: none;
    text-decoration: none;
	color: #14375C;
	font-weight: 600;
}
.regulation .detail-warpper #accordion .panel-title > a.collapsed{ 
	font-weight: 100;
}
.regulation .detail-warpper #accordion .panel-title > a.accordion-toggle::before, 
.regulation .detail-warpper #accordion a[data-toggle="collapse"]::before  {
    content:"\e260";
    float: left;
    font-family: 'Glyphicons Halflings';
	margin-right :1em;
}
.regulation .detail-warpper #accordion .panel-title > a.accordion-toggle.collapsed::before,
.regulation .detail-warpper #accordion a.collapsed[data-toggle="collapse"]::before  {
    content:"\e259";
}
.regulation .detail-warpper .panel{
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
	border-bottom: 1px solid #ccc !important;
	box-shadow: none !important
}
.regulation .detail-warpper .panel-body {padding: 0 15px 25px 60px}
.regulation .detail-warpper .panel-group .panel + .panel {margin-top: 0}
.regulation .detail-warpper .panel-group .panel-heading + .panel-collapse > .list-group, 
.regulation .detail-warpper .panel-group .panel-heading + .panel-collapse > .panel-body{
	 border-top: 0
}
.regulation .detail-warpper .panel-default > .panel-heading{
	background-color: transparent;
}
.regulation .detail-warpper .faqs-panel p{ line-height: 24px; margin-bottom: 15px; }
.regulation .detail-warpper .faqs-panel ul li{
	line-height: 24px;
	list-style: square inside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');
}
.regulation .detail-warpper .faqs-panel ol li{
	line-height: 24px;
	list-style: decimal;
	margin-left: 15px;
}

@media only screen 
and (min-device-width : 992px) 
and (max-device-width : 1200px){
	.regulation .list .row .text-center span{ min-height: 100px }
	.regulation .list .row .text-center span:lang(km){ font-size: 14px }
}
@media only screen 
and (min-device-width : 768px)
and (max-device-width : 1024px){
	.regulation .list .row .text-center span:lang(km){ font-size: 14px }

	.regulation .pdf-box .download-pdf{ padding: 15px; min-height: 295px }
	
	.mask-wrapper.no-hover:hover .mask h5, 
	.mask-wrapper.no-hover .mask h5 { padding: 0 15px !important }
}
@media only screen 
and (min-device-width : 768px)
and (max-device-width : 992px){
	.regulation .list .row .text-center span{ min-height: 70px }
	
	.mask-wrapper.no-hover .mask h5:lang(km) { font-size: 16px; line-height: 28px }
	
	.regulation .pdf-box .download-pdf h4:lang(km){ line-height: 22px; font-size: 14px }
	.regulation .pdf-box .download-pdf p:lang(km){ font-size: 12px }
}