/*style detail page*/
.pvd-vdo{
	padding: 30px 0 !important;
}
.thum-detail{
	width: 100%;
	float: left;
	padding: 15px 0;
	background-color: teal;
}
.thum-detail .item{
	padding: 0 10px;
}
.thum-detail .item .col-sm-3{
	padding: 0 5px;
}
.thum-detail .list-gallery{
	width: 100%;
	float: left;
	padding: 60px 0;
	background-color: red;
}
