/**
 * Description: Style for make Layout Sahakrinpheap Microfinance PLc.
 * Version: 2.0.0
 * Last update: 11-08-2016
 * Author: Vorn Tony <tony.vorn168@gmail.com>
 *
 * Summary:
 *
 *    0. Defualt style
 *        - 0.1. style header
 *        - 0.2. style hearo banner slider
 *        - 0.3. style footer
 *    1. ELEMENT
 *        - 1.1. TYPE ELEMENT
 *        - 1.2. TYPE ELEMENT
 */
 /* ==========================================================================
   0. Defualt style
   ========================================================================== */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Content', sans-serif;
	font-size: 14px;
	line-height: 20px;
	background-color: #fff;
}
.preload * {
	-webkit-transition: none;
	   -moz-transition: none;
	    -ms-transition: none;
	     -o-transition: none;
	        transition: none;
}
a{
	padding: 0;
	font-size: 16px;
	-webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
a,
a:hover, 
a:active, 
a:focus{
   outline: none;
   text-decoration: none;
}
ul { margin-bottom: 0 ; }
ul , ul li{ list-style-type: none;}
a[href=''],
.pointer-events > a{ pointer-events: none; }
textarea, 
input{ 
	font-family: 'Content', sans-serif;
	font-size: 14px;
	line-height: 20px;
	outline: none; 
	box-shadow:none;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0px;
	padding: 0px;
}
h1{
	text-align: left;
	font-size: 25px;
	line-height: 30px;
	color: #17a0da;
	margin: 0 0 5px;
}
h2{
	text-align: left;
	font-size: 16px;
	line-height: 28px;
	color: #f49b25;
	word-wrap: break-word;
}
p{
	font-size: 15px;
	line-height: 28px;
	color: #17a0da;
	text-align: center;
	margin: 10px 0;
	word-wrap: break-word;
}
.section{
	width: 100%;
	float: left;
	overflow: hidden;
	padding: 30px 0;
}
/************************************************
///////////////////////////////////////////////// 
	style section header
/////////////////////////////////////////////////	
*************************************************/
/*header style*/
.header{
	width: 100%;
	float: left;
	background-color: #fff;
	z-index: 9999;
	position: fixed;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
/*logo*/
.header .logo{
	width: 160px;
	float: left;
	padding: 18px 0;
}
.header .logo a img{
	max-width: 100%;
	max-height: 100%;
}
/*menu stlye*/
.header .menu{
	float: right;
}
#menu-main{
	background: #fff;
	width: 100%;
	float: left;
}
#menu-main ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	z-index: 9999;
}
#menu-main ul a {
	display: block;
	text-decoration: none;
	color: #000;
	line-height: 60px;
	font-size: 16px;
}
#menu-main ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0 15px;
}
#menu-main ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	padding: 0;
}
#menu-main ul ul li {
	float: none;
	width: 300px;
	padding: 8px 0;
	border-top: 1px solid red;
	border-left: 1px solid red;
	border-right: 1px solid red;
}
#menu-main ul ul li:last-child{
	border-bottom: 1px solid red;
}
#menu-main ul ul a {
	line-height: 25px;
	font-size: 14px;
	padding: 0 15px;
}
#menu-main ul ul ul {
	top: 0;
	left: 100%
}
#menu-main ul li:hover > ul {
	display: block;
}
/* humberger menu */
.humberger{
	cursor: pointer;
    float: right;
    width: 45px;
	line-height: 50px;
}
.humberger img{
	max-width: 100%;
	max-height: 100%;
}
/* customize mmenu style*/
.mm-clear::after, 
.mm-clear::before, 
.mm-close::after, 
.mm-close::before{
	width: 13px !important;
	height: 13px !important;
}
.mm-close{
	left: 5px !important;
}
.mm-clear::before, 
.mm-close::before{
	right: 10px !important;
}
/*slider style*/
.banner-slider{
	width: 100%;
	float: left;
	margin-top: 60px;
}
.banner-slider img{
	max-width: 100%;
	max-height: 100%;
}
.banner-slider .ns_nerveSlider .ns_caption > div{
	overflow: visible;
}
.ns_nerveSlider .ns_caption{
	font-family: "Arial",KhmerOSContent !important;
}
.banner-slider .ns_nerveSlider .ns_caption{
	text-shadow: none;
}
.banner-slider .ns_nerveSlider .ns_caption h1{
	margin: 0 0 20px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.banner-slider .ns_nerveSlider .ns_caption p{
	font-size: 18px;
}
.banner-slider .ns_nerveSlider .ns_caption h1{
	color: #fff;
}
.banner-slider .ns_nerveSlider .ns_caption p{
	color: #fff;
}
.banner-slider .ns_nerveSlider .ns_dots .ns_dot{
	width: 12px;
	height: 12px;
}
.private-finance{
	width: 100%;
	float: left;
	background-color: #17a0da;
	overflow: hidden;
}
.private-finance p{
	color: #fff;
}
.ns_nerveSlider .ns_caption{
	background: rgba(255,255,255,0.00) !important; /* For browsers that do not support gradients */
}

/************************************************
///////////////////////////////////////////////// 
	style section footer
/////////////////////////////////////////////////	
*************************************************/
.footer{
	width: 100%;
	float: left;
	background-color: #f5f5f5;
}
.footer-top{
	width: 100%;
	float: left;
}
.footer-top .top{
	background-color: #f5f5f5;
	padding: 30px 0 10px;
}
.footer-top h1{
	color: #4a4a4a;
	margin: 0 0 15px;
	margin-left: 15px;
}
.footer-top h2{
	margin: 15px 0 0 15px;
	color: #4a4a4a;
	float: left;
}
.footer-top ul{
	float: left;
	margin-left: 15px;
}
.footer-top ul li{
	font-size: 15px;
	line-height: 35px;
	color: #4a4a4a;
}
.footer-top ul li a{
	color: #4a4a4a;
}
.footer-top ul li span{
	background: url("../images/social.png") no-repeat;
	padding: 5px 15px 0;
}
.footer-top ul li span.address{
	background-position: 0 0;
}
.footer-top ul li span.phone{
	background-position: 0 -50px;
}
.footer-top ul li span.emial{
	background-position: 0 -93px;
}

.footer .social {
    margin: 12px 0 0;
	float: left;
}
.footer .social ul li {
    cursor: pointer;
    line-height: 0;
    margin: 0;
    overflow: hidden;
    text-align: center
}
.footer .social ul li,
.footer .social ul li a {
    float: left;
    height: 30px;
    position: relative;
    width: 30px
}
.footer .social ul li a {
    transition: all 0.5s ease 0s
}
.footer .social ul li:hover a {
    transition: all 0.5s ease 0s
}
.footer .social ul li img {
    bottom: 3px;
    height: 24px;
    width: 24px;
    position: absolute;
    left: 3px;
    right: 3px;
    top: 3px;
    transition: all 0.5s ease 0s
}
.footer .social ul li img:nth-child(2) {
    top: -50px
}
.footer .social ul li:hover img:nth-child(1) {
    top: 50px
}
.footer .social ul li:hover img:nth-child(2) {
    top: 3px
}
.footer-top .description p{
	color: #4a4a4a;
	text-align: left;
}
.footer .footer-bottom{
	width: 100%;
	float: left;
	padding: 10px 0;
	background-color: #EEEEEE;
}
.footer .logo-bottom{
	margin: 15px 0 0;
	width: 200px;
}
.footer .logo-bottom img{
	max-width: 100%;
}
.footer .footer-bottom p{
	color: #4a4a4a;
	margin: 0px !important;
}
.footer .footer-bottom p span{
	font-weight: bold;
}
.footer .footer-bottom p:last-child{
	margin: 0px !important;
}

/************************************************
///////////////////////////////////////////////// 
	style section pagination
/////////////////////////////////////////////////	
*************************************************/
.pagination{
	float: left;
	margin: 0 0 30px;
}
.pagination ul li{
	border-bottom: 2px solid #17a0da;
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0 3px;
    width: 30px;
}
.pagination ul li a{
    background-color: #00adc9;
    color: #fff;
    float: left;
    font-size: 18px;
    height: 30px;
    padding: 0 10px;
    width: 30px;
}

/*@media on mobile size*/
@media only screen 
and (max-width: 767px){
	.header{
		position: static;
	}
	.menu{
		display: none;
	}
	.header .pull-left{
		float: none !important;
	}
}

/*@media on mobile Tablet size landscape*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
	#menu,
	.humberger{
		display: none;
	}
}

/*@media on mobile Tablet size*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
}

/*@media on mobile larg device*/
@media only screen 
and (min-device-width : 1200px){
	#menu,
	.humberger{
		display: none;
	}
}


.pvd-vdo {
    width: 100%;
    float: left;
    padding: 30px 0 0 !important
}
.pvd-vdo .list{
	padding: 0 5px;
}
.pvd-vdo .list .col-sm-3{
	padding: 0 10px;
}
.see-all{
	float: right;
    margin: 30px 15px 0 0px;
}
.see-all h2 a{
	color: #4a4a4a;
	text-transform: uppercase;
}
.see-all h2 a:hover{
	text-decoration: underline;
}
.title{
	background: #00adc9;     
	background: -webkit-linear-gradient(left top, #00adc9, #01579B); 
	background: -o-linear-gradient(bottom right, #00adc9, #01579B); 
	background: -moz-linear-gradient(bottom right, #00adc9, #01579B); 
	background: linear-gradient(to bottom right, #00adc9, #01579B);
	border-radius: 0 10px;
    float: left;
    margin: 15px;
    padding: 8px 30px
}
.title h2{
	color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
.pvd-vdo .article {
    width: 100%;
    float: left;
    margin: 0 0 30px;
    padding: 0 0 15px;
	border: 1px solid #F5F5F5;
}
.pvd-vdo .thum {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}
.pvd-vdo .thum .mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    opacity: 0
}
.pvd-vdo .article:hover {
    border: 1px solid #fafafa;
    box-shadow: 0 0px 10px -5px #333
}
.pvd-vdo .article:hover .mask,
.pvd-vdo .thum a:hover .mask,
.pvd-vdo .thum:hover .mask {
    filter: alpha(opacity=100);
    opacity: 1;
    width: 100%
}
.pvd-vdo .col-sm-3 a:hover h2,
.pvd-vdo .col-sm-3 a:hover h2 {
    color: #157abc
}
.pvd-vdo .thum img {
    width: 100%;
    max-height: 100%
}
.pvd-vdo .col-sm-4 a h2,
.pvd-vdo .col-sm-3 a h2 {
    line-height: 24px;
    color: #4c4c4c;
    padding: 15px 15px 10px;
    float: left;
	width: 100%;
}
.article .description span {
    color: #666;
    margin-left: 15px;
}
.pvd-toy-food {
    width: 100%;
    float: left
}
.pvd-toy-food .banner-food {
    background-image: url("../images/food.jpg");
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover
}
.pvd-toy-food .banner-food .description {
    padding: 50px 0
}
.pvd-toy-food .banner-food .description a h2 {
    text-align: center;
    color: #fff;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase
}
/*animation*/
.pvd-creation-toy .thum .mask,
.pvd-creation-toy .thum:hover .mask,
.pvd-vdo .article,
.pvd-vdo .article:hover,
.pvd-vdo .article:hover,
.pvd-vdo a .thum img,
.pvd-vdo a .thum img:hover,
.pvd-vdo a:hover h2,
.pvd-vdo .thum .mask,
.pvd-vdo .thum .mask:hover,
.related .article,
.related .article:hover,
.related .article:hover,
.related a .thum img,
.pvd-vdo a .thum img:hover,
.related a:hover h2,
.related .thum .mask,
.related .thum .mask:hover{
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out
}