/* List */
.service .list{ padding-left: 10px }
.service .list .iterm{ padding: 0 0 10px 10px }
.service-slider-wrapper{
	width: 100% !important;
	height: 450px;
	float: left;
	padding-left: 10px;
	padding-right: 0px;
	overflow: hidden;
}
.service-slider-wrapper .slick-slide img{ margin: 0 auto }
.service-slider-wrapper .slick-next,
.service-slider-wrapper .slick-prev {
	border: none;
	width: 100px;
	height: 100%;
	z-index: 1;
	top: 0;
	margin:  0;
	position: absolute;
	color: transparent;
	cursor: pointer;
	opacity: 0.8;
	line-height: 0;
	background-color: rgba(30,67,155,0.6);
	background-image: url(../images/arrow-white-big.png);
	background-repeat: no-repeat
}
.service-slider-wrapper .slick-next,
.service-slider-wrapper .slick-next:hover{ 
	right: 0;
	background-position: right
}
.service-slider-wrapper .slick-prev,
.service-slider-wrapper .slick-prev:hover{ 
	left: 0;
	background-position: left;
}
.service-slider-wrapper .slick-dots {
    width: 100%;
    height: 20px;
    list-style: none;
    bottom: 10px;
    position: absolute;
    text-align: center
}
.service-slider-wrapper .slick-dots>li {
    display: inline
}
.service-slider-wrapper .slick-dots>li>button {
    outline: 0;
    width: 15px;
    height: 15px;
    margin: 0 4px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent
}
.service-slider-wrapper .slick-dots>li>button:hover {
    background-color: rgba(255, 255, 255, .7)
}
.service-slider-wrapper .slick-dots>li.slick-active>button {
    background-color: #224091;
    border: 1px solid #224091;
    cursor: default
}
.service-slider-wrapper .slick-dots>li.slick-active>button,
.service-slider-wrapper .slick-dots>li>button {
    -webkit-transition: background-color .3s, border .3s;
    -moz-transition: background-color .3s, border .3s;
    -ms-transition: background-color .3s, border .3s;
    -o-transition: background-color .3s, border .3s;
    transition: background-color .3s, border .3s
}

.service .filter-wrapper{
	padding-right: 0;
	padding-left: 10px;
	margin-bottom: 15px
}
.service .filter{
	width: 100%;
	float: left;
	background: #f9f9f9;
	padding: 10px
}
.service .filter .col-sm-12{
	background: #ECEBEB;
	width: 100%;
	float: left;
	padding: 15px 15px 0
}
.service .filter .col-sm-12 .form-control{
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0
}
.service .filter .col-sm-12 .layout span + span{ 
	margin: 0 0 0 5%;
	background-position: -44px 0
}
.service .filter .col-sm-12 .layout span{
	width: 22px;
	height: 22px;
	cursor: pointer;
	background: url('../images/mode.png') 0 0 no-repeat;
	float: left;
	margin: 0 5px 0 0
}
.service .filter label{ width: 100% }

.service .item-wrapper{
	padding-right: 0;
	padding-left: 10px;
	margin-bottom: 15px;
}
.service .item{
	width: 100%;
	float: left;
	background: #f9f9f9;
	padding: 10px 10px 0 0;
}
.service .item .col-sm-4 .item-detail img{ border: solid rgba(0,0,0,0.1) 1px; }
.service .item .col-sm-4{ padding: 0 0 10px 10px; }
.service .item .col-sm-4 .item-detail{ padding: 10px; background: #fff; min-height: 340px; position: relative }
.service .item .col-sm-4 h3 a{ color: #1e439b; }
.service .item .col-sm-4 h3{ font-size: 16px; margin: 10px 0; }
.service .item .col-sm-4 li a{ color: #333; }
.service .item .col-sm-4 li.phone{ background: url(../images/phone.png) 0 0 no-repeat; }
.service .item .col-sm-4 li.mail{ background: url(../images/mail.png) 0 0 no-repeat; }
.service .item .col-sm-4 li.global{ background: url(../images/global.png) 0 0 no-repeat; }
.service .item .col-sm-4 li{ 
	list-style: none;
	padding-left: 24px;
	margin-bottom: 5px;
}
.service .item .col-sm-4 .item-detail li .rating {
    --star-size: 2;
	 pointer-events: none !important
}
.service .item .col-sm-4 .item-detail li .rating > input{
	top: calc(var(--star-size) / 6 * -3em);
	margin-left: calc(var(--star-size) / 6 * -3em);
}
.service .item .col-sm-4 .item-detail li  .rating > label {
    width: calc(var(--star-size) / 2 * 1em);
}
.service-search{
	width: 600px;
	padding: 30px;
	margin: 10px 0 0;
	background: rgba(30,67,155,0.5);
}
.service-search h3{
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 10px; 
}
.service-search-box form{ position: relative; }
.service-search > span{	color: #fff; cursor: pointer; }
.service-search .bs-caret{ display: none; }
.service-search .select .bootstrap-select .dropdown-toggle{ height: 44px; border: none; }
.service-search .service-search-box{ width: 100%; margin: 15px 0; background: #fff; height: 44px; }
.service-search .select input[type="submit"]{ 
	margin-top: 0; 
	width: 54px; 
	height: 44px;
	background: #fff url(../images/search.png) center no-repeat;
	border: none;
	position: absolute;
	z-index: 5;
	right: 0;
	top: 0;
}
/* Directory List */
.directory-detail .item-detail{ min-height: 370px !important }
.directory-detail ul.members{ 
	position: absolute; 
	bottom: 15px; 
	width: 100% !important;
	left: 0;
	right: 0;
	text-align: center;
	height: 30px;
	margin: 0 auto
 }
.directory-detail ul.members > li{ 
	display: inline-block;
	margin: 0 auto !important;
	padding: 0 !important
}
.directory-detail ul.members > li > span{ 
	border-radius: 50%; 
	overflow: hidden; 
	float: left;
	margin: 0 2px;
	width: 30px;
	height: 30px
}
.directory-detail ul.members > li > span img{ 
	float: left;
	border: none 0 !important;
	width: 100%

}


/* Modal Pop-up */
.service .find { padding: 60px }
.service .find h3 {
    font-size: 32px;
    margin: 0 0 30px
}
.service .find form { position: relative }
.service .find input[type="text"] {
    border: 1px solid rgba(34, 64, 145, 0.6);
    border-radius: 0;
    height: 44px;
    width: calc(100% - 100px)
}
.service .find input[type="submit"] {
    background: #224091 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px
}
.service .myModaldetail .modal-dialog{ width: 900px !important }
.service .myModaldetail .modal-dialog .modal-content{ 
	min-height: 550px !important; 
	float: left;
	width: 100% 
}
.service .myModaldetail .modal-dialog .modal-content .modal-header{ 
	padding: 30px 15px 15px;
	border-bottom: 0 !important; 
	background-color: #f9f9f9 
}
.service .myModaldetail .modal-dialog .modal-content .modal-body{ padding: 0 }
.service .logo img{
	height: 150px;
	padding: 0 15px;
	border: solid #eee 1px;
	background: #fff;
}
.service .myModaldetail .modal-dialog .modal-content .modal-body ul.nav-tabs{ border-bottom: solid #f9f9f9 1px !important; float: left; width: 100%; background-color: #f9f9f9; margin-bottom: 25px;}
.service .myModaldetail .modal-dialog .modal-content .modal-body ul.nav-tabs li:first-child{
	padding-left: 0;
}
.service .myModaldetail .modal-dialog .modal-content .modal-body ul.nav-tabs li{
	background-color: #fff;
	padding: 0 2px;
	width: 33.33%;
	text-align: center
}
.service .myModaldetail .modal-dialog .modal-content .modal-body ul.nav-tabs li a{ 
	border-radius: 0;
	color: #333;
	margin: 0 auto;
	border: none;
	z-index: 2;
	cursor: pointer;
}
.service .myModaldetail .modal-dialog .modal-content .modal-body ul.nav-tabs li.active a{ border: none; cursor: default;}
.service .myModaldetail .modal-dialog .modal-content .modal-body .nav.nav-tabs{ border-bottom: 0 }
.service .myModaldetail .modal-dialog .modal-content .modal-body .nav.nav-tabs li{ position: relative }
.service .myModaldetail .modal-dialog .modal-content .modal-body .nav.nav-tabs li a{ background-color: #ecebeb }
.service .myModaldetail .modal-dialog .modal-content .modal-body .nav.nav-tabs > li span{ 
	position: absolute; bottom: 0; z-index: 0;
	height: 15px;
	width: 50px;
	background: url(../images/arrow-tab.png) center bottom no-repeat;
	margin-left: -25px;
}
.service .myModaldetail .modal-dialog .modal-content .modal-body .nav.nav-tabs > li.active span{ 
	z-index: 1;
	bottom: -15px;
}
.service .myModaldetail .modal-dialog .modal-content .modal-body .nav.nav-tabs > .active a{
	background-color: #1e439b;
	color: #fff
}
.service .myModaldetail .modal-dialog .modal-content .modal-body .tab-content > .tab-pane{ 
	float: left;
	width: 100%; 
	padding: 10px 30px 
}
.service .myModaldetail .modal-dialog .modal-content .modal-body .tab-content > .tab-pane h3,
.service .myModaldetail .modal-dialog .modal-content .modal-body .tab-content > .tab-pane h4,
.service .myModaldetail .modal-dialog .modal-content .modal-body .tab-content > .tab-pane h5,
.service .myModaldetail .modal-dialog .modal-content .modal-body .tab-content > .tab-pane h6{
	margin: 0 auto 5px;
	font-size: 18px
}
.service .myModaldetail .modal-dialog .modal-content .modal-body .tab-content > .tab-pane ul > li { 
	list-style-position: inside;
    list-style-type: disc;
    min-height: 24px;
    padding-left: 15px;
    text-align: left
}
.service .myModaldetail .modal-dialog .modal-content .modal-body .tab-content > .tab-pane p { 
	line-height: 24px;
	margin-bottom: 20px 
}
.service .myModaldetail .modal-dialog .modal-content .modal-body .tab-content > .tab-pane .phone{
	background: url(../images/phone.png) no-repeat scroll center left;
	padding-left: 30px;
	margin-bottom: 0px 
}
.service .myModaldetail .modal-dialog .modal-content .modal-body .tab-content > .tab-pane .email{
	background: url(../images/mail.png) no-repeat scroll center left;
	padding-left: 30px;
	margin-bottom: 0px 
}
.service .myModaldetail .modal-dialog .modal-content .modal-body .tab-content > .tab-pane .address{
	background: url(../images/address-gray.png) no-repeat scroll center left;
	padding-left: 30px;
	margin-bottom: 0px 
}
.service .myModaldetail .modal-dialog .modal-content .modal-body .tab-content > .tab-pane .commented-box{ 
	overflow-y: scroll;
	height: 220px 
}
.service .myModaldetail .modal-dialog .modal-content .modal-body .tab-content > .tab-pane .commented{ 
	line-height: 24px; 
	min-height: 90px
}
.service .myModaldetail .modal-dialog .modal-content .modal-body .tab-content > .tab-pane .commented .profile{ 
	width: 10%; 
	float: left; 
	padding-right: 15px
}
.service .myModaldetail .modal-dialog .modal-content .modal-body .tab-content > .tab-pane .commented .content{ 
	width: 90%; 
	float: left; 
	vertical-align: top
}
.service .myModaldetail .modal-dialog .modal-content .modal-body .tab-content .submit-comment{
	float: left;
    margin-top: 10px;
    width: 100%;
}
.service .myModaldetail .modal-dialog .modal-content .modal-body .tab-content .submit-comment .form-control{
	float: left;
    margin-right: 3%;
    min-height: 50px;
    width: 77%;
}
.service .myModaldetail .modal-dialog .modal-content .modal-body .tab-content .submit-comment .btm.btn-default{
	border: 0 none;
    float: left;
    line-height: 1;
    min-height: 50px;
    width: 20%;
}
.service .myModaldetail .modal-dialog .modal-content .modal-header .pop-up-wrapper div.logo,
.service .myModaldetail .modal-dialog .modal-content .modal-header .pop-up-wrapper div.description{
	float: left;
    line-height: 100px;
    min-height: 100px
}
.service .myModaldetail .modal-dialog .modal-content .modal-header .pop-up-wrapper > .description form,
.service .myModaldetail .modal-dialog .modal-content .modal-header .pop-up-wrapper > .description p{ line-height: 1 }
.service .myModaldetail .modal-dialog .modal-content h3{ font-weight: 600; margin: 8px 0 }
.service .item-detail-button{ float: right }
.service .item-detail-button a.btn {
	border-radius: 0;
    float: left;
    font-size: 10.5px;
    line-height: 36px;
    min-height: 36px;
    padding: 0 15px 0 45px;
    width: calc(100% -10px);
}
.service .item-detail-button .btn.btn-favorite{
	background: #ecebeb url(../images/person.png) no-repeat scroll 15px center;
	color: #757575;
}
.rating {
	--star-size: 3;
	padding: 0;
	border: none;
	unicode-bidi: bidi-override;
	direction: rtl;
	text-align: left;
	user-select: none;
	font-size: 3em;
	font-size: calc(var(--star-size) * 0.50em);
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	margin-bottom: 1em;
	}
/* the stars */
.rating > span{ pointer-events: none; color: #757575 }
.rating > label {
	display: inline-block;
	position: relative;
	width: 1.1em;
	width:  calc(var(--star-size) / 3 * 1em);
	cursor: pointer;
	color: #757575
}
.rating > *:hover:before,
.rating > *:hover ~ label:before,
.rating > input:checked ~ label:before {
	content: "★";
	position: absolute;
	left: 0;
	color: gold;
}
.rating > input {
	position: relative;
	transform: scale(3);
	transform: scale(var(--star-size));
	top: -0.5em;
	top: calc(var(--star-size) / 6 * -2em);
	margin-left: -2.5em;
	margin-left:  calc(var(--star-size) / 6 * -2em);
	z-index: 2;
	opacity: 0;
	font-size: initial;
	cursor: pointer
}
form.amp-form-submit-error [submit-error] {
	color: red;
}


.service .submit{
	width: 32px;
	height: 32px;
	float: right;
	top: 27px;
	right: 16px;
	position: absolute;
	background: #fff url(../images/search.png) center no-repeat;
	background-size: 80%;
	border: none;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1366px){
	.service .title{ left: 15% }
}
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1280px){
}
@media only screen 
and (min-device-width : 768px)
and (max-device-width : 1024px){
	.service .service-search{ width: 500px }
}
@media only screen 
and (min-device-width : 768px)
and (max-device-width : 992px){
}
@media only screen 
and (max-device-width : 767px){
}