.news-events .itermlist{
	width: 100%;
	float: left;
	margin-bottom: 15px
}
.news-events .itermlist > h4 {
    width: calc(100% - 15px);
    background: #ECEBEB;
    padding: 15px 25px;
    font-size: 16px;
    margin: 0 0 10px 15px;
}
.news-events .itermlist > h4 a {
    color: #224091;
    float: right;
    padding-right: 15px;
	font-size: 13px;
	margin-top: 2px;
    background: url(../images/hamburger-arrow.png) right center no-repeat;
}
.news-events .itermlist .col-sm-4{
	margin-bottom: 15px;
	height: 360px;
	padding-right: 0px !important;
}
.news-events .itermlist span{ float: left; font-size: 12px; }
.news-events-detail span.published,
.news-events .itermlist span.published {
    color: #555;
    margin-bottom: 10px;
    padding-left: 20px;
	padding-right: 10px;
    background: url(../images/calendar.png) 0 -1px no-repeat;
}
.news-events .itermlist p{
	width: 100%;
	float: left;
}
/* -- detail -- */
.news-events-detail .thumbnail-news{ margin-bottom: 15px }
.news-events-detail .description h3{ 
	color: #337ab7;
    margin: 20px 0
}
.news-events-detail .description h3:lang(km){line-height: 36px }